{% extends 'home.html' %}
{% load static %}
{% block content %}
<div class="bar">
    search bar holder
</div>
    <div class="down">
        <div class="boxgrid">
            {% for quiz in quizs %}
            {% if quiz.owner == user %}
                    <div class="box">
                        <div class="qname">
                            <h1 class="name">{{quiz.title}}</h1>
                        </div>
                        <div class="box">
                            <div class="qbody">
                                <img src="{% static '/images/editBTN.png'%}" class="editbtn" onclick="ToEditQuizPage()">
                                {% if quiz.pic %}
                                <img src="{{quiz.pic.url}}" alt="Quiz image" class="pic"/>
                                {% else %}
                                <p class="textpic">No Image</p>
                                {% endif %}
                            </div>
                            <div class="tag-box">
                                {% for tag in quiz.tags.all %}
                                    <span class="tag">{{ tag.name }}</span>
                                    {% empty %}
                                    <span class="tag">Untagged</span>
                                {% endfor %}
                            </div>
                            <form method="post" action="{% url 'play' quiz.id %}">
                                {% csrf_token %}
                                <button class="gamebtn"></button>
                            </form>
                            <p class="btnt">Play</p>
                            <button class="deletebtn"></button>
                            <p class="delt">Delete</p>
                        </div>
                    </div>
                
            {% else %}
                <div class="box">
                    <div class="qname">
                        <h1 class="name">{{quiz.title}}</h1>
                    </div>
                    <div class="box">
                        <div class="qbody">
                            {% if quiz.pic %}
                                <img src="{{quiz.pic.url}}" alt="Quiz image" class="pic"/>
                                {% else %}
                                <p class="textpic">No Image</p>
                                {% endif %}
                        </div>
                        <div class="tag-box">
                            {% for tag in quiz.tags.all %}
                                <span class="tag">{{ tag.name }}</span>
                                {% empty %}
                                <span class="tag">Untagged</span>
                            {% endfor %}
                        </div>
                        <form method="post" action="{% url 'play' quiz.id %}">
                                {% csrf_token %}
                                <button class="gamebtn"></button>
                            </form>
                        <p class="btnt">Play</p>
                    </div>
                </div>
            {% endif%}
            {% empty %}
                <p>No quizzes available at the moment. Please check back later.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}