{% extends 'home.html' %}
{% block content %}
    <br>
    {% if specific_quiz == 'none' %}
        <div class="down">
            <div class="boxgrid">
                {% for quiz in quizs %}
                    <div class="box">
                        <div class="quizgrid"></div>
                        <div class="qname">
                            <h1 class="name">{{quiz.title}}</h1>
                        </div>

                            {% if quiz.pic %}
                                <img src="{{quiz.pic.url}}" alt="Quiz image" class="pic"/>
                            {% else %}
                                <p class="textpic">No Image</p>
                            {% endif %}
                            <div class="tag-box">
                                {% for tag in quiz.tags.all %}
                                    <span class="tag">{{ tag.name }}</span>
                                    {% empty %}
                                    <span class="tag">Untagged</span>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                            <form method="post" action="{% url 'quiz editor' %}">
                                {% csrf_token %}
                                <input hidden value="{{quiz.pk}}" name="pk">
                                <button type="submit" class="gamebtn">Edit</button>
                            </form>
                           
                            <form method="post">
                                {% csrf_token %}
                                <input hidden value="{{quiz.id}}" name="delete_quiz">
                                <button type="submit" class="deletebtn">Delete</button>
                            </form>
                            </div>
                    </div>         
                    
                {% endfor %}
            </div>
        </div>
    {% else %}
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if quiz_form.errors %}
            <h2>Errors:</h2>
            <p>{{quiz_form.errors}}</p>
        {% endif %}
        <div class="quizbox">
        <h3>Name of Quiz</h3>
        <div class="qtitle">
            {{ quiz_form.title }}
        </div>
        <br>
        <h3>Picture</h3>
        <div class="picfile">
            {{ quiz_form.pic }}
        </div>
        <div class="pic-preview">
            {% if specific_quiz.pic %}
                <img id="preview" src="{{ specific_quiz.pic.url }}" alt="Quiz image preview" class="pic"/>
            {% else %}
                <p class="textpic">No Image</p>
            {% endif %}
        </div>
        <br>
        <h3>Tags</h3>
        <div class="tagotherbox">
            {% for tag in all_tags %}
                <label>
                    <input type="checkbox" name="tags" value="{{ tag.id }}"
                    <span class="tag">{{ tag.name }}</span>
                </label>
            {% empty %}
                <span class="tag">No tags available</span>
            {% endfor %}
           
        </div>
            <button type="submit" class="newquizbtn">Update Quiz</button>
    </div>
        <br>
        
        <div id="questionsContainer">
            {% for question in question_list %}
                <div class="quiz_maker_question" id="question-{{question.0}}">
                    <div class="question-header">
                        <h3>Question {{question.0}}</h3>
                        <button type="button" class="question-delete-btn" onclick="deleteQuestion('{{question.0}}', '{{question.8}}')">Delete</button>
                    </div>
                    <div>
                        <p class="qrow">Question: <input required id="{{question.6}}" name="{{question.6}}" value="{{question.1.question.value}}" type="text"></p>
                        <p class="qrow">Answer 1: <input required id="{{question.7.0}}answer1" name="{{question.7.0}}answer1" value="{{question.2.text.value}}" type="text"> {% if question.2.is_correct.value == False %} <label class="small-check">Correct:<input id="question_{{question.0}}answer1checkbox" name="question_{{question.0}}answer1checkbox" value="correct" type="checkbox"></label></p> {% else %} <label class="small-check">Correct:<input id="question_{{question.0}}answer1checkbox" name="question_{{question.0}}answer1checkbox" value="correct" checked type="checkbox"></label></p> {% endif %}
                        <p class="qrow">Answer 2: <input required id="{{question.7.1}}answer2" name="{{question.7.1}}answer2" value="{{question.3.text.value}}" type="text"> {% if question.3.is_correct.value == False %} <label class="small-check">Correct:<input id="question_{{question.0}}answer2checkbox" name="question_{{question.0}}answer2checkbox" value="correct" type="checkbox"></label></p> {% else %} <label class="small-check">Correct:<input id="question_{{question.0}}answer2checkbox" name="question_{{question.0}}answer2checkbox" value="correct" checked type="checkbox"></label></p> {% endif %}
                        <p class="qrow">Answer 3: <input required id="{{question.7.2}}answer3" name="{{question.7.2}}answer3" value="{{question.4.text.value}}" type="text"> {% if question.4.is_correct.value == False %} <label class="small-check">Correct:<input id="question_{{question.0}}answer3checkbox" name="question_{{question.0}}answer3checkbox" value="correct" type="checkbox"></label></p> {% else %} <label class="small-check">Correct:<input id="question_{{question.0}}answer3checkbox" name="question_{{question.0}}answer3checkbox" value="correct" checked type="checkbox"></label></p> {% endif %}
                        <p class="qrow">Answer 4: <input required id="{{question.7.3}}answer4" name="{{question.7.3}}answer4" value="{{question.5.text.value}}" type="text"> {% if question.5.is_correct.value == False %} <label class="small-check">Correct:<input id="question_{{question.0}}answer4checkbox" name="question_{{question.0}}answer4checkbox" value="correct" type="checkbox"></label></p> {% else %} <label class="small-check">Correct:<input id="question_{{question.0}}answer4checkbox" name="question_{{question.0}}answer4checkbox" value="correct" checked type="checkbox"></label></p> {% endif %}
                    </div>
                </div>
            {% endfor %}
            <input type="number" hidden name="pk" value="{{pk}}">
        </div>
        <br>
        <!-- <button type="submit">Update Quiz</button> -->
    </form>
    {% endif %}
{% endblock %}