{% extends 'home.html' %}
{% block content %}
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- div -->
        <div class="quizbox">
            {% if quiz_form.errors %}
                <h2>Errors:</h2>
                <p>{{quiz_form.errors}}</p>
            {% endif %}
            <h3>Name of Quiz</h3>
            <p>{{quiz_form.title}}</p>
            <br>
            <h3>Choose a Picture</h3>
            <div class="picfile">
                {{quiz_form.pic}}
            </div>
            <br>
            <h3>Choose Tags</h3>
            <div class="tagotherbox">
                <p>{{quiz_form.tags}}</p>
            </div>
            <br>
            <button id="AddQuestion" type="button">Add Question</button>
        </div>
        <!-- div -->
        <br>
        <div id="questionsContainer" class="center">
            {% if type != 'Failed to make Quiz' %}
            <div class="quiz_maker_question">
                <h3>Question 1</h3>
                <div class="questBox">
                    <p>Question: <input required id="question_1" name="question_1" type="text"></p>
                    <p>Answer 1: <input required id="question_1answer1" name="question_1answer1" type="text"> Correct:<input id="question_1answer1checkbox" name="question_1answer1checkbox" value="correct" type="checkbox"></p>
                    <p>Answer 2: <input required id="question_1answer2" name="question_1answer2" type="text"> Correct:<input id="question_1answer2checkbox" name="question_1answer2checkbox" value="correct" type="checkbox"></p>
                    <p>Answer 3: <input required id="question_1answer3" name="question_1answer3" type="text"> Correct:<input id="question_1answer3checkbox" name="question_1answer3checkbox" value="correct" type="checkbox"></p>
                    <p>Answer 4: <input required id="question_1answer4" name="question_1answer4" type="text"> Correct:<input id="question_1answer4checkbox" name="question_1answer4checkbox" value="correct" type="checkbox"></p>
                </div>
            </div>
            {% else %}
                {% if type == 'Failed to make Quiz' %}
                    {% for question_set in request %}
                        <div class="quiz_maker_question">
                            <h3>Question {{question_set.0}}</h3>
                            <div>
                                <p>Question: <input required id="{{question_set.1}}" name="{{question_set.1}}" value="{{question_set.2}}" type="text"></p>
                                <p>Answer 1: <input required id="{{question_set.3}}" name="{{question_set.3}}" value="{{question_set.4}}" type="text"> {% if question_set.5 == 'wrong' %} Correct:<input id="question_{{question_set.0}}answer1checkbox" name="question_{{question_set.0}}answer1checkbox" value="correct" type="checkbox"></p> {% else %} Correct:<input id="question_{{question_set.0}}answer1checkbox" name="question_{{question_set.0}}answer1checkbox" value="correct" checked type="checkbox"></p> {% endif %}
                                <p>Answer 2: <input required id="{{question_set.6}}" name="{{question_set.6}}" value="{{question_set.7}}" type="text"> {% if question_set.8 == 'wrong' %} Correct:<input id="question_{{question_set.0}}answer2checkbox" name="question_{{question_set.0}}answer2checkbox" value="correct" type="checkbox"></p> {% else %} Correct:<input id="question_{{question_set.0}}answer2checkbox" name="question_{{question_set.0}}answer2checkbox" value="correct" checked type="checkbox"></p> {% endif %}
                                <p>Answer 3: <input required id="{{question_set.9}}" name="{{question_set.9}}" value="{{question_set.10}}" type="text"> {% if question_set.11 == 'wrong' %} Correct:<input id="question_{{question_set.0}}answer3checkbox" name="question_{{question_set.0}}answer3checkbox" value="correct" type="checkbox"></p> {% else %} Correct:<input id="question_{{question_set.0}}answer3checkbox" name="question_{{question_set.0}}answer3checkbox" value="correct" checked type="checkbox"></p> {% endif %}
                                <p>Answer 4: <input required id="{{question_set.12}}" name="{{question_set.12}}" value="{{question_set.13}}" type="text"> {% if question_set.14 == 'wrong' %} Correct:<input id="question_{{question_set.0}}answer4checkbox" name="question_{{question_set.0}}answer4checkbox" value="correct" type="checkbox"></p> {% else %} Correct:<input id="question_{{question_set.0}}answer4checkbox" name="question_{{question_set.0}}answer4checkbox" value="correct" checked type="checkbox"></p> {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <br>
        <button type="submit" class="newquizbtn">Create Quiz</button>
    </form>
{% endblock content %}