:root {
  background-color: rgb(36, 33, 36);
  color: white;
  --transition-duration: 0.4s;
}

/* Sidebar */
aside {
  position: absolute;
  left: -180px;
  display: block;
  width: 180px;
  height: 100vh;
  background-color: #00022E;
  transition: left var(--transition-duration) linear;
  z-index: 1000;
  text-align: center;
  border-radius: 0 20px 20px 0;
}

aside.hidden {
  left: 0;
}

.menuButtonSection {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  z-index: 1500;
}

.menuButton {
  display: block;
  margin: 18px auto;
  cursor: pointer;
  border: none;
  background: none;
}

.menuIcon {
  transition: transform var(--transition-duration) linear;
  width: 30px;
  height: 30px;
}

.rotated {
  transform: rotate(90deg);
  transition: transform var(--transition-duration) linear;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.username {
  color: white;
  text-align: center;
  margin: 0;
}

.points {
  margin-top: 0;
}

.nav .place a {
  font-size: 1.3rem;
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 3vw;
  text-decoration: none;
}

.home {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}

.elseM {
  border-bottom: black 2px solid;
}

ul li {
  list-style-type: none;
}

/* Box Grid */
.boxgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  position: relative;
  width: 250px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.qname {
  width: 250px;
  background-color: #2d2c2c;
  border-radius: 10px 10px 0 0;
  margin-left: 15px;
  
}

.name {
  text-align: center;
  color: white;
  justify-self: center;
  margin: 0;
}

.qbody {
  width: 250px;
  background-color: #2d2c2c;
  height: 300px;
  border-radius: 0 0 10px 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.pic {
  display: flex;
  width: auto;
  height: 173px;
  object-fit: contain;
  justify-self: center;
  max-width: 250px;
  margin-right: 0px;
}

.logo_img {
  display: flex;
  width: 500px;
  object-fit: contain;
  justify-self: center;
  max-width: 250px;
  margin-right: 0px;
}

.intro{
  display: grid;
  place-items: center;
  height: 100%;
}
.intro_p {
  display: flex;
  justify-self: center;
}

.tag-box {
  text-align: center;
  position: absolute;
  width: 240px;
  height: 80px;
  padding: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  bottom: 12%;
  scrollbar-width: none;
}

.tag {
  background: gray;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
  height: fit-content;
}

.gamebtn {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #04AA6D;
  border: none;
  color: white;
  width: 150px;
  height: 140px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  clip-path: polygon(30% 75%, 100% 75%, 100% 100%, 0 100%);
  border-radius: 10px 0;
}

.btnt {
  position: absolute;
  right: 20%;
  bottom: -2%;
  color: white;
  pointer-events: none;
}

.deletebtn {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #800020;
  border: none;
  color: white;
  width: 150px;
  height: 140px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  clip-path: polygon(0 75%, 96% 75%, 66% 100%, 0 100%);
  border-radius: 0 10px;
}

.delt {
  position: absolute;
  left: 20%;
  bottom: -2%;
  color: white;
  pointer-events: none;
}

.editbtn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  opacity: 40%;
}

.editbtn:hover {
  opacity: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

.bar{
  position: absolute;
  top: 0;
  display: block;
  justify-items: center;
  background-color: #00022E;
  width: 100%;
  height: 60px;
}
.down{
  margin-top: 20px;
}