{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatable" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <title>Quizma</title>
    </head>
    <body>
                <section class="menuButtonSection">
  <button type="button" class="menuButton">
    <img src="{% static 'images/white_bars.png' %}" alt="Menu Button" class="menuIcon">
  </button>
</section>

<aside>
  <nav class="controls nav">
    <img src="{% if user_profile.pic %}{{ user_profile.pic.url }}{% else %}{% static 'images/profile.png' %}{% endif %}" alt="Profile Picture" class="profile-pic"/>
    <form action="{% url 'landing page' %}" method="post">
    {% csrf_token %}
    <input type="image" src="{% static 'images/Quizzma.png' %}" alt='logo' class='logo'/>
    </form>
    <p class="username">{{user.username}}</p>
    <p class="points">Points: {{user_profile.points}}</p>
    {% if user.id != None %}
    <li class="place"><a class="home" href="{% url 'profile' %}">Profile</a></li>
    {% endif %}
    {% if user.id == None %}
    <li class="place"><a class="elseM" href="{% url 'signup' %}">SignUp</a></li>
    <li class="place"><a class="elseM" href="{% url 'login' %}">Login</a></li>
    {% else %}
    <li class="place"><a class="elseM" href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
    <li class="place"><a class="elseM" href="{% url 'quizs' %}">Quizzes</a></li>
    <li class="place"><a class="elseM" href="{% url 'quiz maker' %}">Make Quiz</a></li>
    {% if user.is_staff %}
    <li class="place"><a class="elseM" href="{% url 'admin' %}">Admin</a></li>
    {% endif %}



  </nav>
</aside> 
        <div class="container">
          <br>
          <br>
            {% block content %}
            {% endblock content %}

            <!-- {% for tag in tags %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %} -->
            <script src="{% static 'JS/script.js' %}"></script>
    </body>

    

</html>