{% extends 'home.html' %}
{% block content %}

<img src="static/images/Quizzma.png" alt="Logo" class="logo_img">

<div class="intro">
    <h1>Make Every Quiz Memorable with Quizzma!</h1>
    <h3>Looking for a quiz maker? You've found it!</h3>
    <p class="intro_p">Quizzma lets you create custom quizzes to help you and fellow students study. You can select from 4 tags: math, science, coding, english and history in order to help you organize your quizzes. While also helping other students choose their next quiz.
        Quizzma is a tool designed to help students do great on their next exam by allowing them to make their own custom quizzes. Each question answered succesfully rewards students with points to help them enjoy their time studying. If you can imagine it, you can quiz it!
    </p>
    <br>
    <h3>How does quizzma help students learn?</h3>
    <p>
        The main tool Qizzma uses to help students learn is the quizz maker webpage. Students can make quizzes with how every many questions they want, but every question must have four answers. On the otherhand, you can decide however many answers are right or wrong.
        While students are taking quizzes, they will earn points everytime they get a question right. This can encourage them to keep answering questions correctly.
        Students can also inadvertently help their fellow peers, as the website allows anyone to take any quiz made on the website.

    </p>
</div>

{% endblock content %}