{% extends 'home.html' %}
{% block content %}

<img src="static/images/Quizzma.png" alt="Logo" class="logo_img">

<div class="intro">
    <h1>Make Every Quiz Memorable with Quizzma!</h1>
    <br>
    <h3>Looking for the perfect quiz maker? You've found it!</h3>
    <br>
    <p class="intro_p">Quizzma lets you create custom challenges for anything—math, science, coding, and beyond. 
        Whether you're studying for the big exam or hosting a game night with friends, 
        Quizzma is the go-to tool for teachers and students alike. If you can dream it, you can quiz it!
    </p>
</div>

{% endblock content %}